<div ng-include="'templates/_nav.html'"></div>
<main class="container">
        <div class="row">
            <br>
            <input type="text" placeholder="Busca" ng-model="busca.nome">		
        </div>
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota1</th>
                        <th>Nota2</th>
                        <th>Nota3</th>
                        <th>Média</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter: busca">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{aluno.media }}</td>
                        <td>
                            <button class="btn blue" ng-click="editarAluno(aluno)">Editar</button>
                            <button class="btn red" ng-click="deletarAluno(aluno)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn" ng-click="abreAddAluno()">Adicionar</a>
        </div>
    
    </main>
    
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 ng-if="!editando">Adicionar Aluno</h4>
            <h4 ng-if="editando">Editar Aluno</h4>
    
            <p>Preenche os dados do Aluno</p>
    
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" ng-model="Aluno.nome" placeholder="Nome">				
                </div>
                
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" ng-model="Aluno.email" placeholder="E-mail">				
                </div>
    
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota1" placeholder="Nota1">				
                </div>
    
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota2" placeholder="Nota2">				
                </div>
    
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota3" placeholder="Nota3">				
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-if="!editando" ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue modal-close">Adicionar</a>
            <a ng-if="editando" ng-click="salvarAluno(Aluno)" class="waves-effect waves-light btn blue modal-close">Salvar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>